h2
{
 background-color: rgb(171, 171, 89);
 background-color: green;
 color: white;
}
.chitti{
    background-color: blue !important;
}
#x{
    background-color: aqua;
}
#bujji{
    background-color: red;
}